In [3]:
import pandas as pd

dataframe = pd.read_csv("tornado.csv")

In [4]:
dataframe.head()

,yr,mo,dy,date,st,mag,inj,fat,slat,slon,elat,elon,len,wid
0,1950,1,3,1950-01-03,IL,3,3,0,39.10,-89.30,39.12,-89.23,3.6,130
1,1950,1,3,1950-01-03,MO,3,3,0,38.77,-90.22,38.83,-90.03,9.5,150
2,1950,1,3,1950-01-03,OH,1,1,0,40.88,-84.58,0.00,0.00,0.1,10
3,1950,1,13,1950-01-13,AR,3,1,1,34.40,-94.37,0.00,0.00,0.6,17
4,1950,1,25,1950-01-25,IL,2,0,0,41.17,-87.33,0.00,0.00,0.1,100

In [5]:
dataframe.mag

0        3
1        3
2        1
3        3
4        2
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 67558, dtype: int64

In [7]:
dataframe["mag"]

0        3
1        3
2        1
3        3
4        2
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 67558, dtype: int64

In [8]:
type(dataframe.mag)

pandas.core.series.Series

In [9]:
another_dataframe = dataframe.iloc[:,:-1]

In [10]:
dataframe.values

array([[1950, 1, 3, ..., -89.23, 3.6, 130],
       [1950, 1, 3, ..., -90.03, 9.5, 150],
       [1950, 1, 3, ..., 0.0, 0.1, 10],
       ...,
       [2021, 12, 31, ..., -85.7805, 0.95, 50],
       [2021, 12, 31, ..., -84.9633, 2.75, 150],
       [2021, 12, 31, ..., -83.9498, 2.5, 75]],
      shape=(67558, 14), dtype=object)

In [11]:
X = dataframe.drop('mag', axis=1)
y = dataframe.mag

In [12]:
y == 1

0        False
1        False
2         True
3        False
4        False
         ...
67553     True
67554     True
67555     True
67556     True
67557     True
Name: mag, Length: 67558, dtype: bool

In [13]:
y[y == 1]

2        1
13       1
17       1
19       1
20       1
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 22885, dtype: int64

In [14]:
y[y == 1].count()

np.int64(22885)

In [15]:
y[y == 1].sum()

np.int64(22885)

In [16]:
dataframe[["inj","fat","slat","slon","elat","elon","len"]].corr()

           inj       fat      slat      slon      elat      elon       len
inj   1.000000  0.761776 -0.011010  0.031863  0.042888 -0.039848  0.257219
fat   0.761776  1.000000 -0.011070  0.022091  0.037168 -0.035873  0.237817
slat -0.011010 -0.011070  1.000000 -0.173159  0.181996 -0.043552 -0.002392
slon  0.031863  0.022091 -0.173159  1.000000  0.040213  0.045419  0.052290
elat  0.042888  0.037168  0.181996  0.040213  1.000000 -0.972665  0.277226
elon -0.039848 -0.035873 -0.043552  0.045419 -0.972665  1.000000 -0.271882
len   0.257219  0.237817 -0.002392  0.052290  0.277226 -0.271882  1.000000